<div class="post card">
    <div class="card-header">
        <h2>Edit Review</h2>
    </div>
    <form id="edit-review-form" class="card-body">
        <input type="hidden" id="review-id" name="review-id" value="{{review.id}}" />
        <label class="form-label" for="review-title">Title</label>
        <input type="text" id="review-title" name="review-title" value="{{post.title}}" class="form-input" />
        <label class="form-label" for="review-body">Content</label>
        <textarea type="text" id="review-body" name="review-body" value="{{post.body}}"></textarea>
        <button type="submit" class="btn">Update</button>
        <button type="button" id="delete-btn" class="btn">Delete Review</button>
    </form>
</div>

<script src="/javascript/edit.js"></script>
<script src="/javascript/delete.js"></script>