<div class="post card">
    <div class="card header">
        <h2>Create New Review</h2>
    </div>
    <form id="new-review-form" class="card-body">
        <label class="form-label" for="review-title">Restaurant</label>
        <input type="text" name="review-title" class="form-input">
        <label class="form-label" for="review-rating">Rating</label>
        <div id="star-rating"></div>
        <label class="form-label" for="review-body">Content</label>
        <textarea name="review-body" class="form-input"></textarea>
        <button type="submit" class="btn">Publish Review!</button>
    </form>
</div>
<script src="/javascript/new.js"></script>