
{{#each restaurants}}
<div class="card" style="width: 18rem;">
  <img src="https://dash-bootstrap-components.opensource.faculty.ai/static/images/placeholder286x180.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">Location {{parentGeoName}}, Price: {{priceTag}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

{{/each}}

