
{{#each restaurants}}
<div class="card" id="rescard" style="width: 18rem;">
  <img src="{{squareImgUrl}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">Location {{parentGeoName}}, Price: {{priceTag}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

{{/each}}

